
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fridges project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fridges.Client.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Fridge" asp-action="Index">Fridges project</a>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="ul" style="float:right;">
                        <li class="li">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#LoginModal">Login</button>
                        </li>
                        <li class="li">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#RegisterModal">Register</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


     <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title" id="exampleModalLabel">Sign in</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <form method="post" action="/Account/Login">
               <div class="form-group">
                 <label for="email">Email address</label>
                 <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                 <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <div class="form-group">
                 <label for="password">Password</label>
                 <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                 <small id="emailHelp" class="form-text text-muted">Don't share your password with anyone else.</small>
               </div>
               <button type="submit" class="btn btn-info" style="float: right;">Sign in</button>
             </form>
           </div>  
        </div>
      </div>
    </div>    

    <!-- Modal -->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Register new account</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/Account/Register">
              <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="text" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">Don't forget your password</small>
              </div>
                <button type="submit" class="btn btn-success" style="float: right;">Register</button>
            </form>
          </div>  
        </div>
      </div>
    </div> 
    <!-- Modal -->
  @*<form method="post" action="/Account/Login">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
    
          <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Enter your credentials</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <label for="email">Email</label>
		                <input type="text" id="email" name="email" placeholder="Email">
                    </ul>
                    <label for="password">Password</label>
    	            <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Sign in" />
                </div>
          </div>
        
      
        </div>
      </div>
  </form>*@

  @*<form method="post" action="/Account/Register">
      <div class="modal fade" id="mModal" role="dialog">
        <div class="modal-dialog">
    
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Enter your credentials</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <label for="email">Email</label>
		            <input type="text" id="email" name="email" placeholder="Email">
                </ul>
                <label for="password">Password</label>
    	        <input type="text" id="password" name="password" placeholder="Password">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Register account</button>
            </div>
          </div>
      
        </div>
      </div>
  </form>*@
  

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Fridges.Client
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
