@page
@model Fridges.Client.Views.Account.AdminPanelModel
@{
    Layout = "_LayoutAuthorizedAdmin";
}
<div class=" container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 mr-1" id="green">
            <!-- Navigation links in sidebar-->
            <a href="#">Link 1</a>
            <br />
            <br />
            <a href="#">Link 2</a>
            <br />
            <br />
            <a href="#">Link 3</a>
            <br />
            <br />
            <a href="#">Link 4</a>
            <br />
            <br />
        </div>
        <!--Contains the main content
                of the webpage-->
        <div class="col-10" style="text-align: justify;">
            Bootstrap is a free and open-source
            tool collection for creating responsive
            websites and web applications. It
            is the most popular HTML, CSS, and
            JavaScript framework for developing
            responsive, mobile-first web sites.
        </div>
    </div>
</div>